@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html{font-size: 10px;}
*{margin: 0; padding: 0; box-sizing: border-box;}
button{font-family: inherit; font-size: inherit; border: 0; cursor: pointer;} 
/* 기본적으로 글자관련된 속성을 상속받지 못하므로 상속시킴*/